body{
    /* background-color: rgb(88, 86, 84); */
}
body{
    background-color: rgb(223, 172, 172);
    border-radius: 10px;

}
.footer{
    background-color: blue;
    width: 100%;
    justify-content: center;
}